################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/ReverseInteger/.vs/ReverseInteger/v15
/PalindromeNumber/.vs/PalindromeNumber/v15
/RomanToInteger/.vs/RomanToInteger/v15
